# Sample workflow for building and deploying a Hugo site to GitHub Pages
name: Deploy Hugo site to Pages

on:
  # Runs on pushes targeting the default branch
  push:
    branches: ["master"]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:
  schedule:
    - cron: '0 0 */2 * *'

# Sets permissions of the GITHUB_TOKEN to allow deployment to GitHub Pages
permissions:
  contents: read
  pages: write
  id-token: write

# Allow one concurrent deployment
concurrency:
  group: "pages"
  cancel-in-progress: true

# Default to bash
defaults:
  run:
    shell: bash

jobs:
  # Build job
  publish:
    runs-on: ubuntu-latest
    container: ghcr.io/kreatolinux/builder:latest
    env:
      HUGO_VERSION: 0.152.2
    steps: 
      
      - name: Checkout
        uses: actions/checkout@main
        with:
          submodules: recursive

      - name: Build genpkglist
        run: |
          git clone https://github.com/kreatolinux/src
          cd src
          nimble install cligen fusion norm -y
          make genpkglist
          mv out/genpkglist /bin
          cd ..
      
      #- name: Add manpages to documentation
      #  run: |
      #    cd src
      #    for i in man/*.md; do
      #      genpkglist generateManpage --file="$i" --output="$GITHUB_WORKSPACE/content/docs/manpages/$(basename $i)"
      #    done
      #    cd ..
      #    rm -rf src

      - name: Install Hugo CLI
        run: |
          wget https://github.com/gohugoio/hugo/releases/download/v${HUGO_VERSION}/hugo_${HUGO_VERSION}_linux-amd64.tar.gz \
          && tar -xvf hugo_${HUGO_VERSION}_linux-amd64.tar.gz \
          && mv hugo /usr/bin/ \
          && chmod +x /usr/bin/hugo
      
      - name: Setup Pages
        id: pages
        uses: actions/configure-pages@main
      
      - name: Generate packages directory
        run: |
          git clone https://github.com/kreatolinux/kpkg-repo
          mkdir -p "$GITHUB_WORKSPACE/content"
          genpkglist generate --all --pkgPath=kpkg-repo --output="$GITHUB_WORKSPACE/content" -v      
          rm -rf kpkg-repo
 
      - name: Build with Hugo
        env:
          # For maximum backward compatibility with Hugo modules
          HUGO_ENVIRONMENT: production
          HUGO_ENV: production
        run: |
          hugo \
            --gc --minify \
            --baseURL "${{ steps.pages.outputs.base_url }}/"
      
      - name: Upload artifact
        uses: actions/upload-pages-artifact@main
        with:
          path: ./public

  # Deployment job
  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    needs: publish
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@main
